<ActionBar>
    <Label [text]="isLoginForm ? 'Login' : 'Registration'"></Label>
</ActionBar>

<ScrollView>
    <GridLayout class="page__content">
        <StackLayout class="nt-form" *ngIf="isLoginForm">
            <StackLayout class="nt-input">
                <Label text="Login" class="font-weight-bold m-b-5"></Label>
                <TextField hint="Login" class="-border m-t-10" #SigninLogin></TextField>
            </StackLayout>

            <StackLayout class="nt-input">
                <Label text="Password" class="font-weight-bold m-b-5"></Label>
                <TextField hint="Password" class="-border m-t-10" #SigninPassword></TextField>
            </StackLayout>

            <Button class="-primary -rounded-sm" text="Login"
                (tap)="loginUser(SigninLogin.text, SigninPassword.text)"></Button>
            <Button class="-outline" text="Don't have an account?" (tap)="toggleLoginForm()"></Button>
        </StackLayout>

        <StackLayout class="nt-form" *ngIf="!isLoginForm">
            <StackLayout class="nt-input">
                <Label text="Login" class="font-weight-bold m-b-5"></Label>
                <TextField hint="Login" class="-border m-t-10" #SignupLogin></TextField>
            </StackLayout>

            <StackLayout class="nt-input">
                <Label text="Password" class="font-weight-bold m-b-5"></Label>
                <TextField hint="Password" class="-border m-t-10" #SignupPassword></TextField>
            </StackLayout>

            <StackLayout class="nt-input">
                <Label text="Repeat Password" class="font-weight-bold m-b-5"></Label>
                <TextField hint="Repeat Password" class="-border m-t-10" #SignupRepeatPassword></TextField>
            </StackLayout>

            <Button class="-primary -rounded-sm" text="Register"
                (tap)="registration(SignupLogin.text, SignupPassword.text, SignupRepeatPassword.text)"></Button>
            <Button class="-outline" text="Already have an account?" (tap)="toggleLoginForm()"></Button>
        </StackLayout>
    </GridLayout>
</ScrollView>