<ActionBar>
    <Label text="Read Manga"></Label>
</ActionBar>

<ScrollView>
<GridLayout rows="9*, auto">
    <Image [src]="getPage()" row="0"></Image>
    <StackLayout orientation="horizontal" row="1" class="m-x-a">
        <button text="Previous" *ngIf="currentPage > 0" (tap)="goPrevPage()" class="-primary -rounded-sm" height="90%"></button>
        <Button text="Next" *ngIf="currentPage + 1 < mangaPages?.pages.length" (tap)="goNextPage()" class="-primary -rounded-sm"></Button>
    </StackLayout>
</GridLayout>
</ScrollView>